<div class="sidebar" [class.closed]="isClosed">
  <div class="sidebar-content">
    <!-- Header con il logo -->
    <div class="sidebar-header">
      <div class="icon-container">
        <mat-icon>bar_chart_4_bars</mat-icon>
      </div>
      <div class="logo">SaveUp</div>
    </div>

    <!-- Foto profilo e nome utente -->
    <div class="user-profile" *ngIf="user">
      <img [src]="user.picture" alt="Profile Picture" class="profile-pic" />
      <div class="user-info">
        <span class="user-name">{{ user.firstName }} {{ user.lastName }}</span>
      </div>
    </div>

    <!-- Menu -->
    <div class="nav-items">
      <div
        class="nav-item"
        [class.closed]="isClosed"
        [class.active]="isActive('/dashboard')"
        routerLink="/dashboard"
        (click)="toggleSidebar()"
      >
        <mat-icon>home</mat-icon>
        <span *ngIf="!isClosed">Home</span>
      </div>
      <div
        class="nav-item"
        routerLink="/profile"
        [class.closed]="isClosed"
        [class.active]="isActive('/profile')"
        (click)="toggleSidebar()"
      >
        <mat-icon>person</mat-icon>
        <span *ngIf="!isClosed">Profilo</span>
      </div>
      <div
        class="nav-item"
        [class.closed]="isClosed"
        [class.active]="isActive('/settings')"
        routerLink="/settings"
        (click)="toggleSidebar()"
      >
        <mat-icon>settings</mat-icon>
        <span *ngIf="!isClosed">Impostazioni</span>
      </div>
    </div>

    <!-- Logout Section -->
    <div class="logout-section">
      <div class="logout-container">
        <button (click)="logout.emit()" class="log-out-btn">
          <mat-icon>logout</mat-icon>
          <span *ngIf="!isClosed">Logout</span>
        </button>
      </div>
    </div>

    <!-- Toggle button -->
    <div class="toggle-button" (click)="toggleSidebar()">
      <mat-icon>{{ isClosed ? "arrow_forward" : "close" }}</mat-icon>
    </div>
  </div>
</div>
