<p-dialog
  [(visible)]="visible"
  [modal]="true"
  header="Modifica Transazione"
  [style]="{ maxWidth: '400px' }"
  [draggable]="false"
  [resizable]="false"
  [closable]="false"
>
  <div class="modal-header">
    <i class="pi pi-trash delete-icon" (click)="deleteExpense()"></i>
  </div>

  <form [formGroup]="expenseForm" (ngSubmit)="onSubmit()">
    <div class="grid p-fluid">
      <div class="col-12 field">
        <label for="description" class="block">Descrizione</label>
        <input
          pInputText
          id="description"
          formControlName="description"
          placeholder="Inserisci una descrizione"
        />
      </div>

      <div class="col-12 mb-3">
        <label for="amount" class="block mb-2">Importo</label>
        <p-inputNumber
          id="amount"
          formControlName="amount"
          mode="currency"
          currency="EUR"
          min="0"
          placeholder="Inserisci l'importo"
        >
        </p-inputNumber>
      </div>

      <div class="col-12 field">
        <label for="date" class="block">Data</label>
        <p-calendar
          id="date"
          formControlName="date"
          [showIcon]="true"
          dateFormat="dd/mm/yy"
          [showOnFocus]="false"
          [appendTo]="'body'"
          [style]="{ fontSize: '0.75rem' }"
        >
        </p-calendar>
      </div>

      <div class="col-12 field">
        <p-checkbox
          formControlName="isIncome"
          [binary]="true"
          label="È un'entrata"
        >
        </p-checkbox>
      </div>
    </div>

    <div class="flex justify-content-end gap-2">
      <p-button
        label="Annulla"
        (click)="hideDialog()"
        severity="danger"
        [style]="{ marginRight: '0.5rem' }"
      >
      </p-button>
      <p-button label="Salva" type="submit" [disabled]="!expenseForm.valid">
      </p-button>
    </div>
  </form>
</p-dialog>
