@import "../../../styles.scss";
@import "../../../variables.scss";

// TIMELINE
.recent-expenses-timeline {
  background-color: $white;
  border-radius: 10px;
  padding: 1rem;
  max-height: 26.75rem;
  overflow-y: hidden;

  .card-header {
    margin-bottom: 1rem;

    h3 {
      font-size: 16px;
      font-weight: 530;
      color: lighten($secondary-color, 30%);
      margin: 0;
    }
  }

  .timeline-container {
    position: relative;
    padding-left: 2rem;
  }

  .timeline-line {
    position: absolute;
    left: 7px;
    top: 0;
    bottom: 0;
    width: 2.5px;
    background-color: var(--primary-color);
  }

  .expense-items {
    display: flex;
    flex-direction: column;
  }

  .expense-item {
    position: relative;
    padding: 0.5rem 0;

    .timeline-dot {
      position: absolute;
      left: -2rem;
      top: 50%;
      transform: translateY(-50%);
      width: 14px;
      height: 14px;
      border-radius: 50%;
      background-color: var(--primary-color);
      border: 2px solid white;
    }
  }

  .expense-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: lighten($secondary-color, 65%);
    padding: 0.75rem 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    transition: box-shadow 0.3s ease;

    // &:hover {
    //   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    // }
  }

  .expense-details {
    .expense-title {
      font-size: 1rem;
      font-weight: 500;
      color: $black;
      margin: 0;
      margin-bottom: 0.25rem;
    }

    .expense-date {
      font-size: 0.875rem;
      color: $secondary-color;
      margin: 0;
    }
  }

  .expense-amount {
    font-weight: 500;

    &.income {
      color: $success-color;
    }

    &.expense {
      color: $danger-color;
    }
  }

  @media screen and (max-width: 768px) {
    max-width: 100%;
    padding: 1rem;

    .timeline-container {
      padding-left: 1.5rem;
    }

    .expense-item .timeline-dot {
      left: -1.5rem;
    }
  }
}

@media screen and (max-width: 768px) {
  .chart-card,
  .recent-expenses-timeline {
    max-width: 100%;
    padding: 1rem;
  }
}

@media screen and (min-width: 768px) {
  .chart-card,
  .recent-expenses-timeline {
    padding: 1.5rem;
  }
}
