<app-header></app-header>

<div class="p-grid p-mt-3">
  <!-- Card Entrate -->
  <div class="p-col-12 p-md-4">
    <p-card>
      <div class="card-header">
        <h3>ENTRATE TOTALI</h3>
        <div class="card-icon">
          <i class="material-icons">euro_symbol</i>
        </div>
      </div>
      <div class="card-body">
        <h2>45,000€</h2>
        <p>6% vs last 30 days</p>
      </div>
    </p-card>
  </div>

  <!-- Card Centro -->
  <div class="p-col-12 p-md-4">
    <p-card>
      <div class="card-header">
        <h3>SPESE TOTALI</h3>
        <div class="card-icon">
          <i class="material-icons">toll</i>
        </div>
      </div>
      <div class="card-body">
        <h2>27,450€</h2>
        <p>2% vs last 30 days</p>
      </div>
    </p-card>
  </div>

  <!-- Card Destra -->
  <div class="p-col-12 p-md-4">
    <p-card>
      <div class="card-header">
        <h3>RISPARMI TOTALI</h3>
        <div class="card-icon">
          <i class="material-icons">savings</i>
        </div>
      </div>
      <div class="card-body">
        <h2>17,550€</h2>
        <p>1% vs last 30 days</p>
      </div>
    </p-card>
  </div>
</div>
