@if (loading) {
<app-loader></app-loader>
}

<app-header></app-header>

<div class="custom-tab-panel">
  <!-- Tab Titles -->
  <div class="tab-titles">
    @for (tab of tabs; track $index) {
    <div
      class="tab-title"
      [class.active]="activeTab === $index"
      (click)="selectTab($index)"
    >
      {{ tab.label }}
    </div>
    }
  </div>

  @if(activeTab === 0) {
  <div>
    <div class="p-grid p-2 mt-1">
      <!-- Custom Cards -->
      <div class="p-col-12 p-md-4">
        <app-custom-cards
          icon="euro_symbol"
          title="ENTRATE TOTALI"
          [amount]="totalIncome"
          [percentage]="incomePercentage"
        ></app-custom-cards>
      </div>
      <div class="p-col-12 p-md-4">
        <app-custom-cards
          icon="toll"
          title="SPESE TOTALI"
          [amount]="totalExpenses"
          [percentage]="expensePercentage"
        ></app-custom-cards>
      </div>
      <div class="p-col-12 p-md-4">
        <app-custom-cards
          icon="savings"
          title="RISPARMI TOTALI"
          [amount]="savings"
          [percentage]="savingsPercentage"
        ></app-custom-cards>
      </div>
    </div>

    <div class="p-grid p-mt-1">
      <div class="p-col-12 p-md-6">
        <!-- Grafico Bar Chart -->
        <app-bar-chart
          [chartData]="chartData"
          [chartOptions]="chartOptions"
        ></app-bar-chart>
      </div>

      <!-- Card per la Timeline -->
      <div class="p-col-12 p-md-6">
        <app-time-line [expenses]="recentExpenses"></app-time-line>
      </div>
    </div>
  </div>
  } @if (activeTab===1) {
  <div>
    <app-three-charts></app-three-charts>
  </div>
  } @if(activeTab === 2) {
  <div>
    <app-summary></app-summary>
  </div>
  }
</div>

<button class="add-button" mat-button (click)="onAddButtonClick()">
  <i class="pi pi-plus"></i>
</button>
@if (modalVisible) {
<app-add-modal
  [class.visible]="modalVisible"
  (close)="onCloseScreen()"
></app-add-modal>
}
