<app-header></app-header>

<div class="p-grid p-mt-3">
  <!-- Card Entrate -->
  <div class="p-col-12 p-md-4">
    <p-card class="custom-card">
      <div class="card-header">
        <div class="icon-container">
          <i class="material-icons">euro_symbol</i>
        </div>
        <h3>ENTRATE TOTALI</h3>
      </div>
      <div class="card-body">
        <h2>45.000€</h2>
        <p><span class="success-text">▲ 6%</span> vs last 30 days</p>
      </div>
    </p-card>
  </div>

  <!-- Card Spese -->
  <div class="p-col-12 p-md-4">
    <p-card class="custom-card expense-card">
      <div class="card-header">
        <div class="icon-container">
          <i class="material-icons">toll</i>
        </div>
        <h3>SPESE TOTALI</h3>
      </div>
      <div class="card-body">
        <h2>27.450€</h2>
        <p><span class="danger-text">▼ 2% </span>vs last 30 days</p>
      </div>
    </p-card>
  </div>

  <!-- Card Risparmi -->
  <div class="p-col-12 p-md-4">
    <p-card class="custom-card">
      <div class="card-header">
        <div class="icon-container">
          <i class="material-icons">savings</i>
        </div>
        <h3>RISPARMI TOTALI</h3>
      </div>
      <div class="card-body">
        <h2>17.550€</h2>
        <p><span class="warning-text">▼ 1% </span> last 30 days</p>
      </div>
    </p-card>
  </div>
</div>
