@import "variables";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

:root {
  --primary-color: #0ddc86;
}

html {
  scroll-behavior: smooth;
}

body {
  background: $white;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  background-image: linear-gradient(
    to right,
    $black,
    $primary-color
  ) !important;
  margin: 0;
  padding: 1rem;
}

.p-button {
  background-image: linear-gradient(
    to right,
    $black,
    $primary-color
  ) !important;
  border: 1px solid $primary-color !important;
  &:focus,
  &:active {
    box-shadow: none !important;
  }
}

.p-toast {
  max-width: 80% !important;
  margin: 0 auto;
}

.p-toast .p-toast-message {
  font-size: 0.9rem;
  padding: 0.5rem 1rem;
  border-radius: 6px;
}

.p-toast .p-toast-message .p-toast-detail {
  font-size: 0.8rem;
}

.p-password-input {
  width: 18rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 0.95rem;
}

.p-card {
  border-radius: 10px;
  //cursor: pointer;
  // transition: background-image 1s ease-in-out, color 1s ease-in-out;
  // &:hover {
  //   background-image: linear-gradient(
  //     to right,
  //     $black,
  //     $primary-color
  //   ) !important;
  // }
}

@media screen and (max-width: 600px) {
  .p-toast .p-toast-message {
    font-size: 0.8rem;
    padding: 0.4rem 0.8rem;
  }

  .p-toast .p-toast-message .p-toast-summary {
    font-size: 0.9rem;
  }

  .p-toast .p-toast-message .p-toast-detail {
    font-size: 0.7rem;
  }
}
