$secondary-color: #4b5563;
$secondary-light: lighten($secondary-color, 20%);
$white: #ffffff;
$black: #000000;
$text-color: #ffffff;
$color-text-dark: #212121;
$border-color: lighten($secondary-color, 30%);
$success-color: #00c853;
$danger-color: #ff5252;
$warning-color: #ffab00;
