$primary-color: #226b4d;
$secondary-color: #4b5563;
$white: #ffffff;
$black: #000000;
$hover-color: lighten($primary-color, 20%);
$text-color: #ffffff;
$color-text-dark: #212121;
$border-color: lighten($secondary-color, 30%);
