@if(loading) {
<app-loader></app-loader>
}

<div class="expense-wrapper">
  <div class="expense-by-category">
    <div class="header">
      <button (click)="changeMonth(-1)">&#8249;</button>
      <h3>{{ currentMonthName }} {{ currentYear }}</h3>
      <button (click)="changeMonth(1)">&#8250;</button>
    </div>

    <div class="summary-container">
      <div class="financial-summary">
        <div class="summary-item">
          <span class="amount">{{
            getMonthlySummary().income | currency : "EUR" : "symbol" : "1.0-0"
          }}</span>
          <span class="label">REDDITO</span>
        </div>
        <div class="summary-item">
          <span class="amount">{{
            getMonthlySummary().expenses | currency : "EUR" : "symbol" : "1.0-0"
          }}</span>
          <span class="label">SPESE</span>
        </div>
        <div class="summary-item">
          <span class="amount">{{
            getMonthlySummary().balance | currency : "EUR" : "symbol" : "1.0-0"
          }}</span>
          <span class="label">BILANCIO</span>
        </div>
      </div>
    </div>

    @if(!loading && expensesByCategory.length > 0) { @for(group of
    expensesByCategory; track $index) {
    <div class="category-group">
      <h4>
        {{ group.category }}
        {{
          group.total > 0
            ? "+" + (group.total | currency : "EUR")
            : (group.total | currency : "EUR")
        }}
      </h4>
      <ul>
        @for(expense of group.items; track $index) {
        <li class="list-expense" (click)="openExpenseDialog(expense)">
          <span class="date-expense">{{ expense.date | date : "dd MMM" }}</span>
          <span class="expense-description">{{ expense.description }}</span>
          <span
            [ngClass]="{ income: expense.isIncome, expense: !expense.isIncome }"
          >
            {{
              (expense.isIncome ? "+" : "-") +
                " €" +
                (expense.amount | formatAmount)
            }}
          </span>
        </li>
        }
      </ul>
    </div>
    } } @else {
    <p>Nessuna spesa trovata per questo mese</p>
    }
  </div>
</div>

<app-expense-detail
  [(visible)]="showExpenseDialog"
  [expense]="selectedExpense!"
  (expenseUpdated)="onExpenseUpdated($event)"
></app-expense-detail>
