@import "../../../styles.scss";
@import "../../../variables.scss";

// BAR CHART
.chart-card {
  background-color: $white;
  border-radius: 10px;
  padding: 1.5rem;

  .card-header {
    h3 {
      font-size: 16px;
      font-weight: 530;
      color: lighten($secondary-color, 30%);
      margin: 0;
    }
  }

  .card-body {
    display: flex;
    justify-self: center;
    align-items: center;
    padding: 1rem;
    min-height: 300px;
  }

  @media screen and (max-width: 768px) {
    max-width: 100%;
    padding: 1rem;

    .card-body {
      min-height: 200px;
      padding: 0;
    }
  }
}

// :host ::ng-deep .p-chart {
//   width: 100% !important;
//   height: 100% !important;
// }

:host ::ng-deep canvas {
  width: 100% !important;
  height: 100% !important;
}

@media screen and (max-width: 768px) {
  .chart-card,
  .recent-expenses-timeline {
    max-width: 100%;
    padding: 1rem;
  }
}

@media screen and (min-width: 768px) {
  .chart-card,
  .recent-expenses-timeline {
    padding: 1.5rem;
  }
}
