@import "../../../styles.scss";
@import "../../../variables.scss";

.chart-card {
  background-color: $white;
  border-radius: 10px;
  padding: 1rem;
  margin-bottom: 1rem;
  height: 100%;

  .card-header {
    h3 {
      font-size: 16px;
      font-weight: 530;
      color: lighten($secondary-color, 30%);
      margin: 0;
    }
  }

  .card-body {
    display: flex;
    justify-self: center;
    align-items: center;
    padding: 1rem;
    min-height: 200px;
  }

  @media screen and (max-width: 768px) {
    max-width: 100%;

    .card-body {
      min-height: 200px;
      padding: 0;
    }
  }
}

.progress-card {
  background-color: $white;
  border-radius: 10px;
  padding: 1rem;
  margin-bottom: 1rem;

  .card-header {
    h3 {
      font-size: 16px;
      font-weight: 530;
      color: lighten($secondary-color, 30%);
      margin: 0;
    }
  }

  .card-body {
    display: flex;
    justify-self: center;
    align-items: center;
    padding: 1rem;
    min-height: 200px;
  }

  @media screen and (max-width: 768px) {
    max-width: 100%;

    .card-body {
      min-height: 200px;
      padding: 0;
    }
  }
}

:host ::ng-deep canvas {
  width: 100% !important;
  height: 100% !important;
}

@media screen and (max-width: 768px) {
  .chart-card {
    max-width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .chart-card {
    padding: 1.5rem;
  }
}

.progress-bar-container {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}

.p-mt-2 {
  margin-left: 20px;
  color: $secondary-color;
  text-align: center;
  @media screen and (max-width: 768px) {
    font-size: 15px;
  }
}

.progress {
  height: 30px;
  width: 30rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.card-body-progress {
  display: flex;
  justify-self: center;
  align-items: center;
  flex-direction: column;
}

@media screen and (max-width: 768px) {
  .progress {
    width: 18rem;
    height: 20px;
  }
}

.calendar-container {
  width: 100%;
  margin: auto;
  text-align: center;
  padding: 1rem;
  border-radius: 10px;
  background-color: $white;

  .calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;

    h3 {
      font-size: 1.5rem;
      font-weight: bold;
      color: $secondary-color;
    }

    button {
      background: none;
      border: none;
      font-size: 1.5rem;
      cursor: pointer;
      color: var(--primary-color);
    }
  }

  .calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 0.5rem;

    .day-cell {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: rgba(128, 128, 128, 0.1);
      border-radius: 5px;
      color: $secondary-color;

      .day-number {
        font-size: 0.9rem;
        margin-bottom: 0.2rem;
      }

      .day-amount {
        font-size: 0.8rem;

        &.highlight {
          color: var(--primary-color);
        }
      }
    }
  }
}
