<div class="p-grid p-mt-3">
  <!-- Pie Chart -->
  <div class="p-col-12 p-md-4">
    <div class="chart-card">
      <div class="card-header">
        <h3>DISTRIBUZIONE DELLE SPESE</h3>
      </div>
      <div class="card-body">
        <p-chart
          type="pie"
          [data]="pieChartData"
          [options]="pieChartOptions"
        ></p-chart>
      </div>
    </div>
  </div>

  <div class="p-col-12 p-md-8">
    <!-- Line Chart -->
    <div class="chart-card">
      <div class="card-header">
        <h3>ANDAMENTO MENSILE</h3>
      </div>
      <div class="card-body">
        <p-chart
          type="line"
          [data]="lineChartData"
          [options]="lineChartOptions"
        ></p-chart>
      </div>
    </div>

    <!-- Progress Bar-->
    <div class="chart-card">
      <div class="card-header">
        <h3>STIPENDIO UTILIZZATO QUESTO MESE</h3>
      </div>
      <div class="card-body-progress">
        <div class="progress-bar-container">
          <p-progressBar
            [value]="salaryUsedPercentage"
            class="progress"
          ></p-progressBar>
        </div>

        <!-- Testo -->
        <p class="p-mt-2">
          Hai utilizzato {{ salaryUsedPercentage | number : "1.0-0" }}% del tuo
          reddito
        </p>
      </div>
    </div>
  </div>
</div>
