<div class="p-grid p-mt-2">
  <!-- Nuova Card 1 -->
  <div class="p-col-12 p-md-4">
    <div class="chart-card">
      <div class="card-header">
        <h3>DISTRIBUZIONE DELLE SPESE</h3>
      </div>
      <div class="card-body">
        <p-chart
          type="pie"
          [data]="pieChartData"
          [options]="pieChartOptions"
        ></p-chart>
      </div>
    </div>
  </div>

  <!-- Nuova Card 2 -->
  <div class="p-col-12 p-md-4">
    <div class="chart-card">
      <p>ciao2</p>
    </div>
  </div>

  <!-- Nuova Card 3 -->
  <div class="p-col-12 p-md-4">
    <div class="chart-card">
      <p>ciao3</p>
    </div>
  </div>
</div>
