@import "../../../styles.scss";
@import "../../../variables.scss";

.chart-card {
  background-color: $white;
  border-radius: 10px;
  padding: 1.5rem;

  .card-header {
    h3 {
      font-size: 16px;
      font-weight: 530;
      color: lighten($secondary-color, 30%);
      margin: 0;
    }
  }

  .card-body {
    display: flex;
    justify-self: center;
    align-items: center;
    padding: 1rem;
    min-height: 300px;
  }

  @media screen and (max-width: 768px) {
    max-width: 100%;
    padding: 1rem;

    .card-body {
      min-height: 200px;
      padding: 0;
    }
  }
}
