@if(isLoading) {
<app-loader></app-loader>
}

<div class="profile-card">
  <div class="profile-header">
    <img
      [src]="user?.picture || 'apiurl/default.png'"
      alt="Profile Picture"
      class="profile-image"
    />
    <h2 class="profile-name">{{ user?.firstName }} {{ user?.lastName }}</h2>
  </div>
  <div class="profile-details"></div>

  <app-change-password #changePassword></app-change-password>
  <button
    pButton
    label="Modifica Password"
    (click)="changePassword.openDialog()"
  ></button>
</div>
