<p-dialog
  header="Modifica Password"
  [(visible)]="displayModal"
  [modal]="true"
  [style]="{ maxWidth: '350px' }"
  [closable]="false"
  [resizable]="false"
  [draggable]="false"
>
  <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
    <div class="p-fluid">
      <div class="p-field">
        <label for="newPassword">Nuova Password</label>
        <input
          id="newPassword"
          type="password"
          pInputText
          formControlName="newPassword"
        />
        <small
          *ngIf="
            passwordForm.get('newPassword')?.invalid &&
            passwordForm.get('newPassword')?.touched
          "
          class="p-error"
        >
          La nuova password è obbligatoria
        </small>
      </div>
      <div class="p-field">
        <label for="confirmPassword">Conferma Password</label>
        <input
          id="confirmPassword"
          type="password"
          pInputText
          formControlName="confirmPassword"
        />
        <small
          *ngIf="
            passwordForm.get('confirmPassword')?.invalid &&
            passwordForm.get('confirmPassword')?.touched
          "
          class="p-error"
        >
          La conferma della password è obbligatoria
        </small>
        <small
          *ngIf="
            passwordForm.hasError('passwordMismatch') &&
            passwordForm.get('confirmPassword')?.touched
          "
          class="p-error"
        >
          Le password non corrispondono
        </small>
      </div>
    </div>
    <p-footer>
      <button
        pButton
        type="button"
        label="Annulla"
        severity="danger"
        [style]="{ marginRight: '0.5rem' }"
        (click)="displayModal = false"
      ></button>
      <button
        pButton
        type="submit"
        label="Conferma"
        class="p-button-primary"
        [disabled]="passwordForm.invalid"
      ></button>
    </p-footer>
  </form>
</p-dialog>
